<h1>Listing tunes</h1>

<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Album</th>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tunes.each do |tune| %>
      <tr>
        <td><%= tune.artist %></td>
        <td><%= tune.album %></td>
        <td><%= tune.title %></td>
        <td><%= link_to 'Show', tune %></td>
        <td><%= link_to 'Edit', edit_tune_path(tune) %></td>
        <td><%= link_to 'Destroy', tune, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tune', new_tune_path %>
